html {
	background-color: #e4c522;
	background-size: cover;
	transition: background-color .2s ease,
							color .2s ease;
}
html {
	&.step-2 {
		background-color: #3f7aef;
		body {
			color: #fff;
		}
		.arrow svg {
			fill: #111;
		}
	}
	&.step-3 {
		background-color: #ef483b;
	}
	&.step-4 {
		background-color: #508d92;
	}
	&.step-5 {
		background-color: #f50;
	}
	&.step-6 {
		background-color: #88de9c;
	}
	&.step-7 {
		background-color: #5b5b5e;
		body {
			color: #fff;
		}
		a {
			text-decoration: underline;
		}
		.arrow svg {
			fill: #fff;
		}
	}
	&.step-8 {
		background-color: #111;
		body {
			color: #fff;
		}
	}
}

body {
	color: #111;
	font-family: 'Source Sans Pro',sans-serif;
	font-size: 1.4em;
	font-weight: 200;
	line-height: 1.4;
	margin: 0;
	padding: 0;
}

@media screen and (max-width:568px){
	body {
		font-size:1.1em
	}
}
a {
	color: #fff;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
h1 {
	font-weight: 200;
	text-align: center;
}
h2 {
	font-size: 1.9rem;
	font-weight: 200;
}
h3 {
	font-weight: 400;
	text-align: left;
}
h4,
h5 {
	font-weight: 400;
}
h5 {
	margin-top: 0;
	margin-bottom: .5em;
	font-size: 1.4rem;
}

header p {
	text-align: center;
}

.not-home header {
	align-items: baseline;
	display: flex;
	h1 {
		margin-right: 0.5em;
	}
	@include bp-tablet-portrait {
		flex-direction: column;
		justify-content: flex-start;
		padding: 0 1.5em 1.5em;
		width: 100%;
		h2 {
			font-size: 1em;
			margin: 0;
		}
	}
}

main {
	max-width: $width-col;
	@include bp-medium {
		padding: 1.5em;
		max-width: 100%;
	}
}

ul{
	margin: 0;
	padding: 0;
	width: 100%;
}

.about {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	svg {
		max-height: 4em;
		margin-right: -100%;
		margin-left: 4em;
		max-width: 4rem;
	}
}
.no-flexbox {
	.about {
		display: block;
		svg {
			display: none;
		} 
	}
} 

.arrow {
	cursor: pointer;
	font-size: 2rem;
	margin: 0 auto;
	padding-bottom: .4rem;
	text-align: center;
	transition: border-color .5s ease,
							color .5s ease;
	width: 100%;
	@include bp-tablet-portrait {
		font-size: 1.5rem;
		width: 2.8rem;
	}
	svg {
		fill: #fff;
		height: 3.4rem;
		width:3.4rem;
	}
}

.contact {
	flex-wrap: wrap;
	a {
		width:100%;
		&:last-of-type {
			margin-bottom:1.5rem;
		}
	}
}

.footer{
	margin: 2rem 0;
}

.highlight { // Syntax highlighting
	box-shadow: inset 0 0 3px #111;
	overflow: auto;
	padding: 1em;
	@include bp-tablet-portrait--up {
		overflow: hidden;
		transition: transform 0.3s ease,
							min-width 0.3s ease;
		min-width: 100%;
		&:hover {
			transform: translateX(-25%);
			min-width: 200%;
		}
	}
	@include bp-medium {
		margin-bottom: 1em;
	}
}

.interest a {
	color:#111;
}

.license-info{
	text-decoration: underline;
}
.license-text {
	font-size: 1rem;
	font-weight: 400;
	max-height: 0;
	line-height: 0;
	opacity: 0;
	transition: max-height .5s ease,
							opacity .5s ease;
	&.active {
		max-height: 1000px;
		line-height: 1.4;
		opacity: 1;
		p {
			max-height:1000px;
			line-height: 1.4;
			margin: 1em 0;
		}
	}
	p {
		max-height: 0;
		margin: 0;
		padding: 0;
	}
}

.mit-logo {
	@include bp-tablet-portrait {
		display: none;
	}
	.line-4{
		fill:#e8c323;
	}
}

.nav-main {
	display: flex;
	position: fixed;
	right: 2em;
	top: 1em;
	@include bp-medium {
		justify-content: center;
		right: 0;
		top: 0;
		width: 100%;
	}
	a {
		background: rgba(255,255,255,.4);
		color: #111;
		padding: 0 0.4em;
		transition: background 0.1s ease,
								color 0.1s ease;
		&:hover {
			background: rgba(0,0,0,.75);
			color: #fff;
		}
	}
}

.pane {
	transform: translateX(0);
	transition: transform .5s ease;
	min-width: 100%;
	&.hidden {
		margin-left: -100%;
		transform: translateX(-1000%);
	}
}

.past-work h3{
	width: 100%;
}

.post-blog {
	margin-bottom: 1em;
}

#reset {
	bottom: 1em;
	cursor: pointer;
	opacity: 0;
	position: fixed;
	right: 1em;
	transition: opacity .2s ease;
}

.responsibility {
	width:100%;
}

.skills ul {
	margin-bottom: 1.5rem;
}

.slide {
	margin-left: -100%;
	transform: translateX(-1000%);
	transition: transform .5s ease;
	&.active {
		margin-right: -100%;
		transform: translateX(100%);
		min-width: 100%;
	}
	p:last-of-type {
		margin-bottom: 3rem;
	}
	.next {
		bottom: 0;
		position: absolute;
		right: 0;
	}
	.prev {
		bottom: 0;
		position: absolute;
		left: 0;
	}
}

.slide-control.hidden { 
	display: none;
}

.slide-controls {
	bottom: 0;
	margin-right: -100%;
	position:absolute;
	transform: translateX(100%);
	min-width: 100%;
	.next {
		bottom:0;
		position:absolute;
		right:0;
	}
}

.step {
	align-content: center;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	min-height: 480px;
	max-width: 18.7rem;
	@include bp-tablet-portrait {
		padding: 0 1.5em;
	}
	&.hidden {
		display:none
	}
	div:not(.arrow),
	h1,
	h2,
	p {
		width:100%;
	}
}
.no-flexbox .step {
	display: block;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.toggle-view-portfolio {
	background: rgba(255,255,255,.4);
	cursor: pointer;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	text-align: center;
}

.wrap {
	align-content:center;
	align-items:center;
	display:flex;
	flex-direction:column;
}

.wrap-portfolio,
.wrap-slides {
	display:flex;
}