@import '../variables.css';

.navigation {
  display: flex;
  flex-direction: row;
  margin: 2em 0 5em 0;
  list-style: none;
  justify-content: flex-end;
}

.navigationItem {
  padding: 0 2em;
}

.navigationLink {
  padding: 0.5em 1em;
  color: $color-accent;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    border-bottom: 3px solid $color-accent;
    color: $text-color;
  }
}
